---
layout: default
title: HOME
project: "Khaled Hikmat"
tagline: An old time software technologist and architect!
---

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="row">
			<div class="col-md-8">

				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Latest Entries</h3>
					</div>
					<div class="panel-body">
					<div class="list-group">
					{% for post in site.posts limit:5 %}
					<a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
						<h4 class="list-group-item-heading">{{ post.date | date_to_string }} - {{ post.title }}</h4>
						<p class="list-group-item-text">{{ post.summary | truncatewords: 50 }}</p>
					</a>
					{% endfor %}
					</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Entries by Month</h3>
					</div>
					<div class="panel-body">
					{% assign sortedPostsByDate = site.posts | sort:"date" %}
					{% for post in sortedPostsByDate reversed %}
					  {% capture currentyear %}{{post.date | date: "%B %Y"}}{% endcapture %}
					  {% if currentyear != year %}
						{% unless forloop.first %}</div>{% endunless %}
						<a name="{{ currentyear }}">{{ currentyear }}</a>
						<div class="list-group">
						{% capture year %}{{currentyear}}{% endcapture %} 
					  {% endif %}
						<a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
							<h4 class="list-group-item-heading">{{ post.title }}</h4>
							<p class="list-group-item-text">{{ post.summary }}</p>
						</a>
					{% endfor %}
					</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Entries by Category</h3>
					</div>
					<div class="panel-body">
					{% for category in site.categories %}
					  <a name="{{ category | first }}">{{ category | first | capitalize }}</a>
					  <div class="list-group">
						{% for post in category[1] %}
							<a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
								<h4 class="list-group-item-heading">{{ post.title }}</h4>
								<p class="list-group-item-text">{{ post.summary }}</p>
							</a>
						{% endfor %}
					  </div>
					{% endfor %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Entries by Tag</h3>
					</div>
					<div class="panel-body">
					{% for tag in site.tags %}
					  <a name="{{ tag | first }}">{{ tag | first }}</a>
					  <div class="list-group">
						{% for post in tag[1] %}
							<a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
								<h4 class="list-group-item-heading">{{ post.title }}</h4>
								<p class="list-group-item-text">{{ post.summary }}</p>
							</a>
						{% endfor %}
					  </div>
					{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Archives</h3>
					</div>
					<div class="panel-body">
					<ul>
					{% assign sortedPostsByDate = site.posts | sort:"date" %}
					{% for post in sortedPostsByDate reversed %}
					  {% capture currentyear %}{{post.date | date: "%B %Y"}}{% endcapture %}
					  {% if currentyear != year2 %}
						<li><a href="#{{ currentyear }}">{{ currentyear}}</a></li>
						{% capture year2 %}{{currentyear}}{% endcapture %} 
					  {% endif %}
					{% endfor %}
					</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
					</div>
					<div class="panel-body">
					<ul>
					{% for category in site.categories %}
					<li><a href="#{{ category | first }}">{{ category[0] | capitalize }}&nbsp;({{ category[1] | size }})</a></li>
					{% endfor %}
					</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Tags</h3>
					</div>
					<div class="panel-body">
					<div id="tagcloud" data-maxfont="32" data-minfont="12">
						{% for tag in site.tags %}
						<span data-count="{{ tag[1] | size }}"><a href="#{{ tag | first }}">{{ tag[0] }}</a></span>
						{% endfor %}
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">GitHub</h3>
					</div>
					<div class="panel-body">
					<div id="mygithub">
						<ul class="nav nav-pills">
							<li class="active"><a href="https://github.com/khaledhikmat" target="_blank"><span id="mygithub-prv-reps" class="badge pull-right">0</span>Private Reps</a></li>
							<li class="active"><a href="https://github.com/khaledhikmat" target="_blank"><span id="mygithub-pub-reps" class="badge pull-right">0</span>Public Reps</a></li>
						</ul>	
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">My Tweets</h3>
					</div>
					<div class="panel-body">
						<a class="twitter-timeline"  href="https://twitter.com/KhaledHmat"  data-widget-id="429316369994117120">Tweets by @KhaledHmat</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var tc = document.getElementById('tagcloud');
	mainService.tagCloud(tc,'span');
	
	// Get accces to my github account and get some stats
	//var gh = new Github({
		//username: "khaledhikmat",
		//password: "-----",
		//auth: "basic"
	//});
	var gh = new Github({
		token: "7e6ab7fb9ea6eeb1bc448e015d0c704419b4966a",
		auth: "oauth"
	});

	var prvReps = 0;
	var pubReps = 0;
	var user = gh.getUser();
	user.repos(function (err, repos) {
		if (!err) {
			for (x in repos) {
				console.log("x : " + x + " = " +  repos[x]);
				if (repos[x].private) 
					prvReps++;
				else
					pubReps++;
				for (y in repos[x]) {
					console.log("y : " + y + " = " +  repos[x][y]);
				}
			}
			
			console.log('Private Reps: ' + prvReps);
			console.log('Public Reps: ' + pubReps);
			$('#mygithub-prv-reps').text("" + prvReps);
			$('#mygithub-pub-reps').text("" + pubReps);
		}
	});
	
</script>

