<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <ul class="meta">
      <li>
        <span>
          {{ site.tagline }}
        </span>
      </li>
    </ul>
    <ul class="meta">
      <li>
        <span>
        <a href="{{ site.baseurl }}/" class="default_home_button"></a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/about.html" class="default_about_button"></a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/tags.html" class="default_tags_button"></a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/github.html" class="default_github_button"></a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/tweets.html" class="default_tweets_button"></a>
        </span>
      </li>
    </ul>
  </div>
</header>
<article>
  <div class="container">
