<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <ul class="meta">
      <li>
        <span>
          {{ site.tagline }}
        </span>
      </li>
    </ul>
    <ul class="meta">
      <li>
        <span>
        <a href="{{ site.baseurl }}/index.html">Home</a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/about.html">About</a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/tags.html">Tags</a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/github.html">Github</a>
        </span>
      </li>
      <li>
        <span>
        <a href="{{ site.baseurl }}/tweets.html">Tweets</a>
        </span>
      </li>
    </ul>
  </div>
</header>
<article>
  <div class="container">
