{% assign myIllustration = include.param  | split: ";" %}
{% assign imageWidth = 150 %}
{% assign imageHeight = 200 %}
{% assign otherIlustrations = 1 %}
{% if myIllustration[3] %}
	{% assign imageWidth = myIllustration[3] %}
{% endif %}
{% if myIllustration[4] %}
	{% assign imageHeight = myIllustration[4] %}
{% endif %}
{% if myIllustration[5] %}
	{% assign otherIlustrations = myIllustration[5] %}
{% endif %}
<div align=center>
<a href="{{ site.baseurl }}{{ myIllustration[2] }}" class="highslide" onclick="return hs.expand(this)">
	<img src="{{ site.baseurl }}{{ myIllustration[2] }}" alt="Highslide JS" title="Click to enlarge" height="{{ imageHeight }}" width="{{ imageWidth }}" />
</a>
<div class="highslide-caption">
	{{ myIllustration[0] }}
</div>
</div>

<p align=center>Click to enlarge. {% if otherIlustrations == 1 %} Other illustrations are shown <a href="#illustrations">below</a>.{% endif %}</p>

