{% assign myProjectIdentifier = include.param  | split: "," %}
{% assign identifier = myProjectIdentifier[0] %}
{% assign thing = myProjectIdentifier[1] %}

{% for item in site.data.projects %}
	{% if item.identifier == identifier %}
		{% assign project = item %}
	{% endif %}
{% endfor %}

<h4>{{ project.title }}</h4>
<p>{{ project.description }}</p>
{% if project.basecampurl %}
<p><a href="{{ project.basecampurl }}" target="_blank">More details at Basecamp</a></p>
{% endif %}
<a data-toggle="collapse" data-parent="#project-{{ thing }}-{{ project.identifier }}" href="#collapse-project-{{ thing }}-{{ project.identifier }}">More/Less Details</a>
<div class="collapse" id="collapse-project-{{ thing }}-{{ project.identifier }}">
Identifier: {{ project.identifier }}<br/>
Product: {{ project.product }}<br/>
Status: {{ project.status }}<br/>
Create Date: {{ project.createdate  | date_to_string  }}<br/>
Last Update: {{ project.lastupdate  | date_to_string  }}<br/>
Alpha: {{ project.alpha  | date_to_string  }}<br/>
Beta: {{ project.beta  | date_to_string  }}<br/>
Production: {{ project.production  | date_to_string  }}<br/>
</div>

