{% assign mySiteIdentifier = include.param  | split: "," %}
{% assign identifier = mySiteIdentifier[0] %}
{% assign thing = mySiteIdentifier[1] %}

{% for item in site.data.sites %}
	{% if item.identifier == identifier %}
		{% assign site = item %}
	{% endif %}
{% endfor %}

<h4>{{ site.name }}</h4>
<p>{{ site.description }}</p>
{% for link in site.url %}
<p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
{% endfor %}
<a data-toggle="collapse" data-parent="#site-{{ thing }}-{{ site.identifier }}" href="#collapse-site-{{ thing }}-{{ site.identifier }}">More/Less Details</a>
<div class="collapse" id="collapse-site-{{ thing }}-{{ site.identifier }}">
Identifier: {{ site.identifier }}<br/>
Product: {{ site.product }}<br/>
Access: {{ site.access }}<br/>
Type: {{ site.type  }}<br/>
</div>

