<!-- Locate the story based on the parameter -->
{% assign story = site.data.userstories.first %}
<div class="panel panel-primary">
	<div class="panel-heading">
	<h3 class="panel-title">{{ story.title }}</h3>
	</div>
	<div class="panel-body">
	{{ story.description }}<br />
	{% if story.criterias %}
	<br>Story Criteria:<br><br>
	{% for criteria in story.criterias %}
		<div class="panel panel-default">
			<div class="panel-body">
			{{ criteria.description }}
			</div>
		</div>
	{% endfor %}
	{% endif %}
	</div>
	<div class="panel-footer">Owner: {{ story.owner }} - Estimated Story Points: {{ story.points }}</div>
</div>
