.masthead img {
width: 100%;
}

#mask{
position:fixed;
width:100%;
height:100%;
background: rgba(0,0,0,.93);
z-index: 10000;
top:0;
left:0;
}

#siteLoginDlg {
z-index: 10001;
}

body {
	font-family: Helvetica Neue, Helvetica, Tahoma, Arial;
	background: url(../images/paper.gif) repeat top left scroll;
	padding-top: 50px;
}

.box-shadow {
	-moz-box-shadow: 0 0 10px 10px #888;
	-webkit-box-shadow: 0 0 10px 10px#888;
	box-shadow: 0 0 10px 10px #888;
	background: white;
}

a[name] {
	padding-top: 70px;
	  margin-top: -70px;
	  display: inline-block;
}

.navbar {
	margin: 0 auto !important;
}


@media (min-width: 768px) {
  .navbar {
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .navbar {
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .navbar {
    width: 1170px !important;
  }
}