<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="HMCIT : HMCIT Repository of things" />
  <meta name="author" content="Khaled Hikmat">

    <!-- BOOTSTRAP stuff -->
	<link href="{{ site.baseurl }}/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/libraries/bootstrap/css/style.css" rel="stylesheet">

    <!-- HIGHSLIDE stuff -->
	<link href="{{ site.baseurl }}/libraries/highslide/highslide.css" rel="stylesheet"/>

    <!-- MY APP stuff -->
	<link href="{{ site.baseurl }}/stylesheets/app.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/libraries/bootstrap/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/libraries/bootstrap/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/libraries/bootstrap/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/libraries/bootstrap/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/libraries/bootstrap/img/appicon.png">
  
	<script type="text/javascript" src="{{ site.baseurl }}/libraries/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/libraries/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/libraries/bootstrap/js/scripts.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/libraries/highslide/highslide-with-gallery.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/javascripts/main.js"></script>
</head>

<!-- DISCUSS stuff -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<add-your-own>'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
	
<!-- HIGHSLIDE stuff -->
<script type="text/javascript">
hs.graphicsDir = '{{ site.baseurl }}/libraries/highslide/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.outlineType = 'glossy-dark';
hs.wrapperClassName = 'dark';
hs.fadeInOut = true;
//hs.dimmingOpacity = 0.75;

// Add the controlbar
if (hs.addSlideshow) hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	fixedControls: 'fit',
	overlayOptions: {
		opacity: .6,
		position: 'bottom center',
		hideOnMouseOut: true
	}
});
</script>

<body>
<div id="mask"></div>

<div class="modal fade" id="siteLoginDlg" role="dialog" aria-labelledby="siteLoginDlgLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="siteLoginDlgLabel">
					This {{ site.name }} is protected! If you don't have a user id/pwd, you need to let us know. 
				</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						 <label for="siteLoginDlgUserId">User Id</label><input class="form-control" id="siteLoginDlgUserId" type="text" />
					</div>
					<div class="form-group">
						 <label for="siteLoginDlgPassword">Password</label><input class="form-control" id="siteLoginDlgPassword" type="password" />
					</div>
					<button id="siteLoginDlgSubmit" type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			<div class="modal-footer">
			<!-- add something here -->
			</div>
		</div>
	</div>
</div>

<div class="container box-shadow">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="masthead">
			<img src="http://lorempixel.com/g/800/100/technics"/>
			</div>
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li {% if page.title == 'HOME' %} class='active' {% endif %}><a href="{{ site.baseurl }}/index.html">HOME</a></li>
						<li {% if page.title == 'ABOUT' %} class='active' {% endif %}><a href="{{ site.baseurl }}/about.html">ABOUT</a></li>
						<!--
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">SITES <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">CLIENT FACING</a></li>
								<li><a href="#">INTERNAL</a></li>
								<li class="divider"></li>
								<li><a href="#">WEB SERVICES</a></li>
							</ul>
					    </li>
						-->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="javascript:mainService.deleteCredentials();">LOGOUT</a>
						</li>
					</ul>
				</div>
			</nav>

			<blockquote>
				<p>
					{{ page.project }}
				</p> 
				<small>{{ page.tagline }}</small>
			</blockquote>
		</div>
	</div>
	{{ content }}
</div>
<!-- Enforce the password on every page -->
<!-- {% include enforce-password.html %}-->
{% include do-not-enforce-password.html %}-->
</body>
</html>
